In [6]:
import pandas as pd
import csv
import random

In [8]:
df = pd.read_csv('../data/WHR2024.csv')

In [225]:
df.head()

,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.741,7.815,7.667,1.844,1.572,0.695,0.859,0.142,0.546,2.082
1,Denmark,7.583,7.665,7.500,1.908,1.520,0.699,0.823,0.204,0.548,1.881
2,Iceland,7.525,7.618,7.433,1.881,1.617,0.718,0.819,0.258,0.182,2.050
3,Sweden,7.344,7.422,7.267,1.878,1.501,0.724,0.838,0.221,0.524,1.658
4,Israel,7.341,7.405,7.277,1.803,1.513,0.740,0.641,0.153,0.193,2.298

In [226]:
# with open('chartjs_formatted_piecharts.csv', 'w', newline='') as file:
#     writer = csv.writer(file)
#     writer.writerow(["Chart.js"])

In [227]:
#Systematically sample the data
def systematic_sampling(data, sample_size):
    interval = len(data) // sample_size
    start = random.randint(0, interval - 1)
    return data[start::interval].reset_index(drop=True)

In [228]:
list_of_samples_with2_elements = list()
list_of_samples_with3_elements = list()
list_of_samples_with4_elements = list()

In [229]:
sample_size = 2
for i in range(0, 15):
    list_of_samples_with2_elements.append(systematic_sampling(df[['Country name', 'Ladder score']], sample_size))

In [230]:
sample_size = 3
for i in range(0, 15):
    list_of_samples_with3_elements.append(systematic_sampling(df[['Country name', 'Ladder score']], sample_size))

In [231]:
sample_size = 4
for i in range(0, 15):
    list_of_samples_with4_elements.append(systematic_sampling(df[['Country name', 'Ladder score']], sample_size))

In [232]:
list_of_samples_with4_elements[0]

  Country name  Ladder score
0   Costa Rica         6.955
1   Uzbekistan         6.195
2      Armenia         5.455
3       Uganda         4.372

In [233]:
tmp = list_of_samples_with2_elements[0]
tmp['Country name'][1]

'Georgia'

In [234]:
#Writing into a csv 
for temp in list_of_samples_with4_elements:
    cntrs = ""
    ldrs = ""
    for index, row in temp.iterrows():
        cntrs = cntrs + "'"+ row['Country name'] + "'" + ", "
        ldrs = ldrs + str(row["Ladder score"]) + ", "
    cntrs = cntrs[:-2]
    ldrs = ldrs[:-2]
    print(cntrs)
    print(ldrs)
    shablon = "new Chart(ctx, {{ type: 'pie', data: {{labels: [{countries}], datasets: [{{label: 'Happiness ladder score', data: [{ladder_score}], borderWidth: 1}}], options:{{plugins: {{display:true, text: 'Happiness Levels by Country Comparison', font: {{size: 16}} }} }} }} }});"
    formatted_shablon = shablon.format(countries=cntrs, ladder_score=ldrs)
    formatted_shablon = formatted_shablon.replace("{{", "{").replace("}}", "}")
    print(formatted_shablon)
    with open('chartjs_formatted_piecharts.csv', 'a', newline='') as file:
        writer = csv.writer(file)
        writer.writerow([formatted_shablon])

'Costa Rica', 'Uzbekistan', 'Armenia', 'Uganda'
6.955, 6.195, 5.455, 4.372
new Chart(ctx, { type: 'pie', data: {labels: ['Costa Rica', 'Uzbekistan', 'Armenia', 'Uganda'], datasets: [{label: 'Happiness ladder score', data: [6.955, 6.195, 5.455, 4.372], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Kuwait', 'Argentina', 'South Africa', 'Myanmar'
6.951, 6.188, 5.422, 4.354
new Chart(ctx, { type: 'pie', data: {labels: ['Kuwait', 'Argentina', 'South Africa', 'Myanmar'], datasets: [{label: 'Happiness ladder score', data: [6.951, 6.188, 5.422, 4.354], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Denmark', 'Serbia', 'Russia', 'Morocco', 'Lebanon'
7.583, 6.411, 5.785, 4.795, 2.707
new Chart(ctx, { type: 'pie', data: {labels: ['Denmark', 'Serbia', 'Russia', 'Morocco', 'Lebanon'], datasets: [{label: 'Happiness ladder score', data: [7.583, 6.411, 5.785, 4.795, 2.707], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Kosovo', 'Greece', 'Senegal', 'Zambia'
6.561, 5.934, 4.969, 3.502
new Chart(ctx, { type: 'pie', data: {labels: ['Kosovo', 'Greece', 'Senegal', 'Zambia'], datasets: [{label: 'Happiness ladder score', data: [6.561, 5.934, 4.969, 3.502], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Switzerland', 'Brazil', 'Venezuela', 'Kenya'
7.06, 6.272, 5.607, 4.47
new Chart(ctx, { type: 'pie', data: {labels: ['Switzerland', 'Brazil', 'Venezuela', 'Kenya'], datasets: [{label: 'Happiness ladder score', data: [7.06, 6.272, 5.607, 4.47], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Uruguay', 'Honduras', 'Ivory Coast', 'Tanzania'
6.611, 5.968, 5.08, 3.781
new Chart(ctx, { type: 'pie', data: {labels: ['Uruguay', 'Honduras', 'Ivory Coast', 'Tanzania'], datasets: [{label: 'Happiness ladder score', data: [6.611, 5.968, 5.08, 3.781], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Poland', 'Mauritius', 'Ukraine', 'Sierra Leone'
6.442, 5.816, 4.873, 3.245
new Chart(ctx, { type: 'pie', data: {labels: ['Poland', 'Mauritius', 'Ukraine', 'Sierra Leone'], datasets: [{label: 'Happiness ladder score', data: [6.442, 5.816, 4.873, 3.245], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Israel', 'Malta', 'Kyrgyzstan', 'Burkina Faso'
7.341, 6.346, 5.714, 4.548
new Chart(ctx, { type: 'pie', data: {labels: ['Israel', 'Malta', 'Kyrgyzstan', 'Burkina Faso'], datasets: [{label: 'Happiness ladder score', data: [7.341, 6.346, 5.714, 4.548], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Denmark', 'Serbia', 'Russia', 'Morocco', 'Lebanon'
7.583, 6.411, 5.785, 4.795, 2.707
new Chart(ctx, { type: 'pie', data: {labels: ['Denmark', 'Serbia', 'Russia', 'Morocco', 'Lebanon'], datasets: [{label: 'Happiness ladder score', data: [7.583, 6.411, 5.785, 4.795, 2.707], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Israel', 'Malta', 'Kyrgyzstan', 'Burkina Faso'
7.341, 6.346, 5.714, 4.548
new Chart(ctx, { type: 'pie', data: {labels: ['Israel', 'Malta', 'Kyrgyzstan', 'Burkina Faso'], datasets: [{label: 'Happiness ladder score', data: [7.341, 6.346, 5.714, 4.548], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Germany', 'Malaysia', 'Laos', 'Bangladesh'
6.719, 5.975, 5.139, 3.886
new Chart(ctx, { type: 'pie', data: {labels: ['Germany', 'Malaysia', 'Laos', 'Bangladesh'], datasets: [{label: 'Happiness ladder score', data: [6.719, 5.975, 5.139, 3.886], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Uruguay', 'Honduras', 'Ivory Coast', 'Tanzania'
6.611, 5.968, 5.08, 3.781
new Chart(ctx, { type: 'pie', data: {labels: ['Uruguay', 'Honduras', 'Ivory Coast', 'Tanzania'], datasets: [{label: 'Happiness ladder score', data: [6.611, 5.968, 5.08, 3.781], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Ireland', 'South Korea', 'Albania', 'Mali'
6.838, 6.058, 5.304, 4.232
new Chart(ctx, { type: 'pie', data: {labels: ['Ireland', 'South Korea', 'Albania', 'Mali'], datasets: [{label: 'Happiness ladder score', data: [6.838, 6.058, 5.304, 4.232], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Mexico', 'China', 'Gabon', 'Ethiopia'
6.678, 5.973, 5.106, 3.861
new Chart(ctx, { type: 'pie', data: {labels: ['Mexico', 'China', 'Gabon', 'Ethiopia'], datasets: [{label: 'Happiness ladder score', data: [6.678, 5.973, 5.106, 3.861], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });
'Poland', 'Mauritius', 'Ukraine', 'Sierra Leone'
6.442, 5.816, 4.873, 3.245
new Chart(ctx, { type: 'pie', data: {labels: ['Poland', 'Mauritius', 'Ukraine', 'Sierra Leone'], datasets: [{label: 'Happiness ladder score', data: [6.442, 5.816, 4.873, 3.245], borderWidth: 1}], options:{plugins: {display:true, text: 'Happiness Levels by Country Comparison', font: {size: 16} } } } });

In [ ]:
# shablon = "new Chart(ctx, {type: 'pie', data: {labels: ['Finland', 'Russia', 'Afghanistan'], datasets: [{label: 'Happiness ladder score', data: [7.741, 4.441, 1.721], borderWidth: 1}]}, options: {plugins: {title: {display: true, text: 'Happiness Levels Comparison', font: {size: 16} } } } });"